<template>
    <div class="loginForm">

        <form @submit.prevent="">
            <div class="alert" v-if="error">
                <span class="closebtn" @click="error = null">&times;</span>
                {{ error }}
            </div>
            <h1>{{ title }}</h1>
            <hr class="mb-6">
            <span></span>

            <input v-model="email" type="text" placeholder="Email" id="email" name="email" required><br>

            <input v-model="password" type="password" placeholder="Password" id="password" name="password" required><br>

            <v-list>
                <v-list-item v-for="link in links" :key="link.name" router :to="link.route">
                    {{link.text}}

                </v-list-item>
            </v-list>
            <p>
                <button type="submit">Sign in</button>
            </p>
        </form>


    </div>


</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
                title: 'LOGIN',
                email: '',
                password: '',
                links: [{name: 'resetPw', text: 'Forgot your password ? ', route: '/resetpw'}, {
                    name: 'register',
                    text: 'Register here ! ',
                    route: '/register'
                }],
                error: null
            }
        },
        created() {

        },
        methods: {
            goToPage(pageName) {
                this.$router.push(pageName)
            }
        }

    }
</script>

<style scoped>


</style>