<template>
    <div class="registerForm">
        <form @submit.prevent="logIn">
            <div class="alert" v-if="error">
                <span class="closebtn" @click="error = null">&times;</span>
                {{ error }}
            </div>
            <h1>{{ title }}</h1>
            <hr class="mb-6">
            <span></span>
            <input v-model="firstName" type="text" placeholder="First Name" id="firstName" name="firstName"
                   required><br>
            <input v-model="lastName" type="text" placeholder="Last Name" id="lastName" name="lastName" required><br>
            <input v-model="email" type="text" placeholder="Email" id="email" name="email" required><br>
            <input v-model="password" type="password" placeholder="Password" id="password" name="password" required><br>
            <input v-model="confirmPassword" type="password" placeholder="Confirm Password" id="confirmPassword"
                   name="confirmPassword" required><br>
            <p>
                <button type="submit">Sign up</button>
            </p>
        </form>
    </div>
</template>

<script>
    export default {
        name: "Register",
        data() {
            return {
                title: 'REGISTER',
                firstName: '',
                lastName: '',
                email: '',
                password: '',
                confirmPassword: ''
            }
        },
        methods: {
            login() {

            }
        }
    }
</script>

<style scoped>

</style>