#app {
    /* background-image: url("../pictures/anhMamaz.jpg"); */

 background-color: white;
    background-size: cover;
background-repeat: no-repeat;
    font-family: sans-serif;
    color: black;
    width: 100%;
    height: auto;

}





.v-content {

    padding: 0px;
}

.footer {
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: smaller;
    font-size: 16px;
    margin-top: 6rem;
    margin-bottom: 2rem;

}


.home blockquote {

    font-size: 50px;
    letter-spacing: 0.2em;
}

.home {
    justify-content: center;

    text-align: center;
}

.mainNav {

    letter-spacing: 0.2em;
}

.v-chip.ep {

    background: royalblue;

}

.v-chip.album {


    background: coral;

}

.release.ep {
    border-left: 4px solid royalblue;
}

.release.album {

    border-left: 4px solid coral;
}


.loginForm {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: white;
    background-size: cover;
    padding: 0.5em;
    color: #000000;
    margin: 100px 20px 100px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.loginForm button {

    padding: 0.5em;
    color: #ffffff;
    margin-top: 1em;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    padding-left: 2em;
    padding-right: 2em;
    background-color: black;
}

.loginForm input {

    padding: 0.5em;
    margin: 0.5em;
    border: solid 1px black;
}

.loginForm h1 {

    letter-spacing: 0.1em;
    margin: 0.5em;
}

.registerForm {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: white;
    background-size: cover;
    padding: 0.5em;
    color: black;
    margin: 100px 20px 100px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.registerForm button {

    padding: 0.5em;
    color: white;
    background-color: black;
    margin-top: 1em;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    padding-left: 2em;
    padding-right: 2em;
}

.registerForm input {

    padding: 0.5em;
    margin: 0.5em;
    border: solid 1px black;

}

.registerForm h1 {

    letter-spacing: 0.1em;
    margin: 0.5em;
}

.socialBar button {
    opacity: 60%;
}

.socialBar button:hover {

    opacity: 100%;

}



