<template>
    <div class="footer">

        <v-layout>

            <v-flex class="socialBar">

                <v-btn light fab icon v-for="social in socials" :key="social.name" class="mx-2" :href="social.link" target="_blank">
                    <v-icon medium>mdi-{{social.icon}}</v-icon>
                </v-btn>

            </v-flex>


        </v-layout>
        <blockquote class="copyrightText">Copyright © {{ new Date().getFullYear() }} HUYNH Anh-Khoa. All rights reserved.</blockquote>

    </div>
</template>

<script>
    export default {
        name: "Footer",
        data() {
            return {

                socials: [
                    // {name: 'Facebook', icon: 'facebook', link: ''},
                    // {name: 'Twitter', icon: 'twitter', link: ''},
                    // {name: 'Youtube', icon: 'youtube', link: ''},
                    {name: 'LinkedIn', icon: 'linkedin', link: 'https://www.linkedin.com/in/anh-khoa-huynh-ab8649127/'}]
            }
        }
    }
</script>

<style scoped>


    .copyrightText {
        
 color:black;
 font-size: 0.6rem;
    }



</style>