<template>
    <div class="mainNav">

        <!-- <transition name="fade">
            <div class="mainSearchBar" v-if="searchClicked">
                <input type="text"
                       class="customSearchBar text-center" placeholder="Search ...">
                <v-btn icon class="closeBtn" @click="searchClicked = false">
                    <v-icon class="black--text">mdi-close</v-icon>
                </v-btn>
                <v-btn icon class="searchBtn" @click="searchClicked = !searchClicked">
                    <v-icon class="black--text">mdi-magnify</v-icon>
                </v-btn>
            </div>
        </transition> -->
        <v-app-bar fixed app hide-on-scroll height="65%" class="black">

            <v-app-bar-nav-icon light class="white--text justify-center text-center ma-auto"
                                @click="drawer = !drawer"></v-app-bar-nav-icon>
     

<span class="white--text">ANH</span>
            <v-spacer></v-spacer>

            <!-- <v-btn icon class="white--text mr-2" @click="searchClicked = !searchClicked">
                <v-icon>mdi-magnify</v-icon>
            </v-btn>


            <v-menu
                    left
                    bottom
            >

                <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">

                        <v-icon class="white--text">mdi-account-circle-outline</v-icon>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item v-for="option in options" :key="option.title" router :to="option.body">

                        <v-list-item-title>{{option.title}}</v-list-item-title>

                    </v-list-item>
                </v-list>

            </v-menu> -->

        </v-app-bar>


        <v-navigation-drawer v-model="drawer" app class="white black--text" expand-on-hover>

            <!--            <v-layout column class="align-center mb-6 mt-4">-->
            <!--                <v-flex class="mt-5">-->
            <!--                    <v-avatar size="70">-->
            <!--                        <img src="https://avatars0.githubusercontent.com/u/9064066?v=4&s=460">-->
            <!--                    </v-avatar>-->
            <!--                </v-flex>-->

            <!--            </v-layout>-->


            <v-list class="white">
        
                <v-list-item v-for="link in links" :key="link.text" router :to="link.route" class="white">
                    <v-list-item-action>
                        <v-icon color="black">mdi-{{link.icon}}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title class="black--text">
                            {{link.text}}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <!-- <v-divider class="black"></v-divider> -->

                <!--                <v-subheader class="white black&#45;&#45;text justify-center">Social</v-subheader>-->
                <!--                <v-list-item v-for="social in socials" :key="social.text" class="white" link>-->
                <!--                    <v-list-item-action>-->
                <!--                        <v-icon color="black">mdi-{{social.icon}}</v-icon>-->
                <!--                    </v-list-item-action>-->
                <!--                    <v-list-item-content>-->
                <!--                        <v-list-item-title class="black&#45;&#45;text">-->
                <!--                            {{social.text}}-->
                <!--                        </v-list-item-title>-->
                <!--                    </v-list-item-content>-->
                <!--                </v-list-item>-->

                <!-- <v-divider class="black"></v-divider> -->
                <!-- <v-subheader class="white black--text justify-center">About</v-subheader> -->
                <v-list-item v-for="item in about" :key="item.text" router :to="item.route"
                             class="white black--text">
                    <v-list-item-action>
                        <v-icon color="black">mdi-{{item.icon}}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title class="black--text">
                            {{item.text}}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>


    </div>


</template>

<script>

    export default {
        name: "Navbar",
        data() {
            return {
                options: [{title: 'Login', body: 'Login'}, {
                    title: 'Register',
                    body: 'Register'
                }, {
                    title: 'Sign out'
                }],

                links: [
                    {icon: 'home', text: 'Home', route: '/'},
                    {icon: 'account', text: 'Profil', route: '/profile'},
                    {icon: 'school', text: 'Formation', route: '/training'},
                    {icon: 'briefcase', text: 'Expérience', route: '/experience'},
                    // {icon: 'hanger', text: 'Shop', route: '/shop'}
                ],

                // socials: [
                //
                //     {icon: 'youtube', text: 'Youtube', route: '/youtube'},
                //     {icon: 'soundcloud', text: 'Soundcloud', route: '/soundcloud'},
                //     {icon: 'twitter', text: 'Twitter', route: '/twitter'},
                //     {icon: 'facebook', text: 'Facebook', route: '/facebook'}
                // ],
                about: [{icon: 'email', text: 'Contact', route: '/contact'},
                    // {icon: 'account-group-outline', text: 'Team', route: '/team'}
                    ],
                loggedIn: true,
                drawer: false,
                searchClicked: false,
                menu: false,
                user: {firstName: 'Anh-Khoa', lastName: 'Huynh'}
            }
        },
        methods: {
            languageOnChange(languageSelected) {

                document.querySelectorAll(languageSelected)[0].classList.add("languageSelected");
                if (languageSelected ===".fr"){

                    document.querySelectorAll(".en")[0].classList.remove("languageSelected");
                    this.$i18n.locale="fr-FR";
                }

                else if (languageSelected===".en") {

                    document.querySelectorAll(".fr")[0].classList.remove("languageSelected")
                    this.$i18n.locale="en";
                }

            }

        },
        props: {

        }

    }
</script>

<style scoped>

    .customSearchBar {

        width: 100%;
        height: 3.4rem;
        position: absolute;
        background-color: rgba(229, 229, 229, 0.4);
        padding-left: 1em;
        border: solid black 1px;
        color: black;
    }




    .closeBtn {

        font-weight: bold;
        font-family: Helvetica;
        float: right;
        margin-right: 1em;
        margin-top: 0.7em;
        padding-bottom: 5px;
    }

    .searchBtn {

        font-weight: bold;
        font-family: Helvetica;
        float: right;
        margin-right: 1em;
        margin-top: 0.7em;
        padding-bottom: 5px;

    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }
    
    @media screen and (max-width: 375px) {
        .toolbarTitle {

            display: none;
        }
        .navTitle {

            font-size: xx-small;
        }
    }

    @media screen and (max-width: 580px) {
        .toolbarTitle {

            display: none;
        }
        .navTitle {

            font-size: x-small;
        }
    }

 

</style>