<template>
    <div class="events">
        <v-container></v-container>
        <div class="xpPage" data-aos="fade">
  <v-parallax
    dark
 src="https://i.imgur.com/OqH4GUk.jpg"
    height="100"
  >
    <v-row
    
      justify="center"
    >
      <v-col>
        <h1 class=" display-1 font-weight-thin text-center mb-6 mt-4 xpTitle"><v-icon large dark>mdi-briefcase</v-icon> Expérience</h1>
     
      </v-col>
    </v-row>
  </v-parallax>

<div class="xpSection" data-aos="fade-up">
   <h2 class="subheading mb-4 xpSubheader">Worldline - Seclin (stage dans l'équipe SDCO) | Décembre 2019 - Mars 2020 </h2>
    <p class="text-center"><u>En charge du développement de fonctionnalités et de correctifs pour une application interne en lien avec les Ressources Humaines.</u></p>
        <h3>Principales technologies utilisées :</h3>
        <ul>
        <li>Java, Hibernate, JAX-RS, Maven, Apache POI, JWT, IntelliJ Idea pour la partie <b>Back-End</b>.</li>
        <li>JavaScript, HTML, CSS, Vue.JS, Axios, Bootstrap, WebStorm / Visual Studio Code pour la partie <b>Front-End</b>.</li>
        <li>MySQL et l'outil d'administration HeidiSQL pour la <b>base de données</b>.</li>
        </ul>
         <h3 class="mt-4">Technologies et outils supplémentaires :</h3>
         <ul>
                <li>Git, Gitlab CI, Docker, DropWizard, NPM, SMTP, JavaMail.</li>
                </ul>
                </div>

                <div class="xpSection" data-aos="fade-up">
   <h2 class="subheading mb-4 xpSubheader">AFPA - Roubaix | Août 2019 - Décembre 2019</h2>
    <p class="text-center"><u>Conception d'un projet Fil Rouge pour un club de tennis "La Raquette" situé à Villeneuve d'Ascq. Projet effectué et géré en équipe.</u> </p>
     <h3>Déroulement du projet : </h3>
   <ul>
<li>Conception et maquettage d'une application en couches.</li>
<li>Développement de partie <b>Front-End</b> et <b>Back-End</b> en langage Java (architecture <b>MVC</b>).</li>
<li>Développement d'une interface utilisateur <b>GUI</b> de type Desktop.</li>
<li>Développement d'une interface utilisateur Web avec <b>JEE</b> et BootsFaces.
<li>Concevoir et développer la persistance des données en intégrant les recommandations de sécurité.</li>
<li>Conception d'une base de données avec la méthode <b>Merise</b> et ses cas d'utilisations <b>UML</b>.</li>
<li>Développement de ses composants d'accès aux données.</li>
<li>Intégration de données avec <b>Talend Open Studio</b>.</li>
<li>Manipulation de données avec le langage <b>SQL</b>.</li>
<li>Construction et utilisation de microservices pour consommer une <b>API REST</b>.</li>


   </ul>
                </div>
    </div>
    
</div>

</template>

<script>
    export default {
        name: "Experience",
        data() {

            return{

            
            }
        }
    }
</script>

<style scoped>
.eventSnackBar {

    margin-top: 4em;
}


.xpPage { 
    width: 75%;
margin: auto;
margin-top: 4rem;
}

.xpDivider {

background-color: white;
width: 50%;
margin:auto;
margin-bottom: 2rem;

}

.container {

    padding: 0px;
}

.xpSection {

margin-top: 2rem;

}

.xpSubheader {
    text-align: center;
    padding: 1rem;
    border:dotted 1px black;
    letter-spacing: 0.2rem;

}
</style>