<!--<i18n src="../../i18n/language.json"></i18n>-->

<template>
    <div class="home" data-aos="fade">
<div class="homeCarousel">


<img class="photoImg" alt src="../../assets/pictures/photoCv.jpg">
    <div class="heroProfile ">
        <div class="heroTextProfile">
            <h1>HUYNH Anh-Khoa</h1>
            <p class="devText">Software Developer</p>
     <p class="locationText">Roubaix, France</p>

        </div>


    </div>
    <div class="buttonTemplate" >

            <v-divider class="homeDivider"></v-divider>
        <v-layout justify-center row wrap>
        <template v-for="link in links">

            <div class="text-center buttonRow" :key="link.text" data-aos="fade-up">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                <v-btn class="" x-large fab raised light icon route :to="link.route" v-on="on">
                    <v-icon>mdi-{{link.icon}}</v-icon>
                </v-btn>
                    </template>
                    <span>{{link.text}}</span>
                </v-tooltip>
            </div>
        </template></v-layout>
    </div>

</div>
<!--        <v-container>-->
<!--            <blockquote class="blockquote align-center jokeBlock">{{randomJoke.joke}}</blockquote>-->
<!--        </v-container>-->
    </div>
</template>

<script>
    import {getApiJoke} from "../../services/api";

    export default {
        name: 'home',
        data() {

            return {

                randomJoke: '',
                links: [
                    {icon: 'account', text: 'Profil', route: '/profile'},
                    {icon: 'school', text: 'Formation', route: '/training'},
                    {icon: 'briefcase', text: 'Expérience', route: '/experience'},
                    // {icon: 'hanger', text: 'Shop', route: '/shop'}
                ]
            }
        },
        created: function () {

            getApiJoke().then(joke => this.randomJoke = joke.data)

        },
        components: {

        },
        methods: {


        }

    }
</script>


<style>


.homeCarousel{
    margin-top: 4em;
position: relative;

}

    .buttonTemplate {
margin-bottom: 8em;
        margin-top: 2em;
    }

    .heroTextProfile {
        letter-spacing: 0.2em;
        font-size: 1.4em;
    }
.homeText {

    letter-spacing: 0.6em;
    font-weight: bold;
}

    .homeDivider {
background-color: white;
opacity: 50%;
        margin-bottom: 1em;
margin-left: 45%;
margin-right: 45%;
    }




    .devText {

        letter-spacing: 0.4rem;
        opacity: 75%;


    }

.photoImg {
background-color: white;
height: 20rem;
    padding: 20px;
}

.locationText {

font-size: 1rem;
opacity: 50%;

}



</style>