<template>


    <div class="profilePage" data-aos="fade">

            <div class="heroProfile">
        
             
                    <h1 class="display-1 font-weight-thin text-center mb-6 mt-4 profileTitle">    <v-icon large light>mdi-account</v-icon> Profil </h1>
               
                    <v-divider class="profileDivider"></v-divider>
                           <div class="profileText">
                    <p>Salut, moi c'est Anh. </p>
                    <p>Développeur d'applications junior en recherche d'une alternance dans le cadre de la poursuite de mes études.</p>
       
                
 <div>

                </div>
<div class="cvFrame">
<a href="../../assets/pictures/cvHuynhAnh.pdf" target="_blank"><img alt class="cvPicture" src="../../assets/pictures/cvAnh.png"></a></div>
            </div>
                </div>


    </div>

</template>

<script>
// import pdf from 'vue-pdf'
    export default {
        
        name: "Profile",
        data() {
            return {
                showMoreButton: true,
                showProfile: false,
                showMoreCard: false,
                showHero: true,
                showCV: false

            }
        },
        components: {
// pdf
        },
        methods: {
showProfileSection () {
    this.showProfile= true;
    this.showMoreButton = false;

},
            showMoreClicked() {

                this.showProfile = false;
                setTimeout(() => {

                    this.showMoreCard = true;
                }, 1000)


            },
            showCVSection() {

                this.showProfile = false;
                this.showMoreCard = false;
                this.showHero = false;
                this.showCV = true;
            }

        }
    }
</script>

<style scoped>

.profilePage {

    position:relative;
}

    .profileCard {

width: 100%;
position:fixed;

}


    .profileTitle {

letter-spacing: 0.5rem;
        text-align: center;


    }


    /* The hero image */
    .heroProfile {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        /* Set a specific height */
        height: 100%;
        width: 100%;
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 4rem;
  

    }

    /* Place text in the middle of the image */
    .profileText {
        
    
        text-align: center;
        font-size: 1rem;
     
    }

    .profileDivider {
width: 50%;
background-color: white;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 2rem;
        opacity: 50%;


    }


    .slide-fade-enter-active {
        transition: all .3s ease;
    }

    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */
    {
        transform: translateX(10px);
        opacity: 0;
    }

    .aboutButton {

        margin-top: 2rem;
        font-size: x-small;

    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity 1s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }

.cvSection {

text-align: center;
}

.cvMessage {

margin-top: 4rem;
text-align: center;
    text-shadow:0.5px 0.5px 1px seashell ;
    font-size: 2rem;


}

.cvPicture {

margin-top: 4rem;
transition: transform .2s;
width:20%;
box-shadow: 0px 0px 2px black;;

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}



.cvPicture:hover{
transform:scale(1.1);
-webkit-filter: grayscale(0);
	filter: grayscale(0);
}


</style>