<template>
    <div class="releases" data-aos="fade">


<div class="trainingPage" >
    <h1 class="display-1 font-weight-thin text-center mt-4 trainingTitle"><v-icon large light>mdi-school</v-icon> Formation</h1>

      <v-divider class="skillsDivider"></v-divider>
 <v-timeline data-aos="fade-up">
    <v-timeline-item
      v-for="(year, i) in years"
      :key="i"
      :color="year.color"
      small
      
    >
      <template v-slot:opposite>
        <span
          :class="`headline font-weight-bold ${year.color}--text`"
          v-text="year.year"
        ></span>
      </template>
      <div class="py-4">
        <h2 :class="`headline font-weight-light mb-4 ${year.color}--text`">{{year.title}}</h2>
        <div>
        {{year.textTitle}}
        </div>
        <p class="timelineText">{{year.text}}</p>
      </div>
    </v-timeline-item>
  </v-timeline>
</div>

<div class="skillsPage">



  <v-parallax
    dark
 src="https://wallpapercave.com/wp/lKeljXZ.jpg"
    height="100"
  >
    <v-row
    
      justify="center"
    >
      <v-col>
     <h1 class="display-1 font-weight-thin text-center mb-6 mt-4 skillsTitle"><v-icon large dark>mdi-laptop-chromebook</v-icon> Compétences</h1>
     
      </v-col>
    </v-row>
  </v-parallax>

  <p class="skillsText mt-6 mb-6">Les technologies utilisées et en cours d'acquisition</p>
</div>
<div class="mainSkills">
<div class="container" data-aos="fade-up">
    <a  class="item"><img src="../../assets/pictures/jsLogo.png"></a>
      <a  class="item"><img src="../../assets/pictures/javaLogo.png"></a>
   <a  class="item"><img src="../../assets/pictures/htmlLogo.png"></a>
     <a  class="item"><img src="../../assets/pictures/cssLogo.png"></a>
 


</div>
<div class="container" data-aos="fade-up">
     <a  class="item"><img src="../../assets/pictures/nodeJsLogo.png"></a>
   <a  class="item"><img src="../../assets/pictures/vueLogo.png"></a>
  <a  class="item"><img src="../../assets/pictures/bootstrapLogo.png"></a>
    <a  class="item"><img src="../../assets/pictures/vsCodeLogo.png"></a>

</div>

<div class="container" data-aos="fade-up">
  
  <a  class="item"><img src="../../assets/pictures/gitLogo.png"></a>
  <a  class="item"><img src="../../assets/pictures/gitlabLogo.png"></a>
       <a  class="item"><img src="../../assets/pictures/mySqlLogo.png"></a>
     <a  class="item"><img src="../../assets/pictures/talendLogo.png"></a>
 
</div>

<div class="container" data-aos="fade-up">
      <a  class="item"><img src="../../assets/pictures/mavenLogo.png"></a>
    <a  class="item"><img src="../../assets/pictures/hibernateLogo.png"></a>
 <a  class="item"><img src="../../assets/pictures/dockerLogo.png"></a>
  <a  class="item"><img src="../../assets/pictures/intellijLogo.png"></a>
</div>
</div>
    </div>


</template>

<script>
    export default {
        name: "Releases",
        data() {

            return {
                releases: [{title: 'Masa Moon', artist: 'ANH-K', releaseDate: '2017', genre: 'Electronic', type: 'ep'},
                    {
                        title: '99.9%',
                        artist: 'Kaytranada',
                        releaseDate: '2016',
                        genre: 'Hip-Hop, Alternative R&B',
                        type: 'album'
                    },
                    {title: 'Flume', artist: 'Flume', releaseDate: '2012', genre: 'Electronica, Hip-Hop', type: 'album'}
                ],
                years : [{
color:'amber', year:'2019-2020', title:'AFPA - Roubaix', textTitle:'Titre professionnel RNCP de niveau 6 - Concepteur et Développeur d\'Applications Fullstack (en cours d\'obtention)',text:'Formation sur les langages Java, Javascript, Kotlin, SQL et les technologies Git, Hibernate, JEE, JAX-RS, Maven, HTML, CSS, Talend Data Integration, PostgreSQL, MicrosoftSQL. Enseignement sur les bonnes pratiques de code et sur des architectures logicielles (MVC, RESTful API)'
                }, {
color:'green', year:'2013-2016', title:'Université de Lille 3 - Villeneuve-d\'Ascq', textTitle:'Licence ICAS - Industries Culturelles Art et Sociétés', text:'Études de sciences humaines et sociales.'

                }

                ]

            }
        },
        methods: {
            sortBy(prop) {

                this.releases.sort((a, b) => a[prop] < b [prop] ? -1 : 1)

            }
        }
    }
</script>

<style scoped>

.skillsPage {

width: 75%;
margin: auto;
margin-top: 4rem;

}

.skillsText {

padding: 1rem;
    text-align: center;
    margin: auto;
color: black;
border: dotted 1px black;
}



.trainingTitle {

    letter-spacing: 0.2rem;
    padding:2rem;
    text-align: center;
    margin-top: 2rem;

}


.container {
  display: flex;
  width: 70%;
  margin-top: 4rem;
}



.item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 250ms;
  cursor: default;
}

.container:focus-within .item,
.container:hover .item {
  transform: translateX(-25%);

}

.item:focus ~ .item,
.item:hover ~ .item {
  transform: translateX(25%);

}

.container .item:focus,
.container .item:hover {
  transform: scale(1.2);
  z-index: 1; 

}

body {
  overflow: hidden;
}

.item img {
  display: block;
  max-width: 100%;
    filter: grayscale(25%);
}

.skillsDivider {

    background-color: white;
    opacity: 50%;
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;


}

.trainingPage {
margin:auto;
    width: 75%;
 
}

.timelineText {
    margin-top: 0.4rem;
    font-size: 0.8rem;
}

</style>