<template>
    <div class="contactForm" data-aos="fade">
        <v-container class="text-center">
         <h1 class="text-center pb-2 contactTitle">{{title}}</h1>
        <v-divider class="contactDivider"></v-divider>
            <form @submit.prevent="" class="formSection">
       
                <v-layout row wrap>
       <v-flex xs12 sm12 md6 lg6>
                        <v-subheader class="justify-center">Adresse e-mail : </v-subheader>
                        <input type="text" required>
                    </v-flex>
           
                    <v-flex xs12 sm12 md6 lg6>
                        <v-subheader class="justify-center">Sujet :</v-subheader>
                        <input v-model="object" type="text" required>
                    </v-flex>

             

                  

                </v-layout>

<div class="messageSection" data-aos="fade-up">
                <v-layout row wrap>

                    <v-flex class="mt-6">
                        <v-subheader class="justify-center">Message :</v-subheader>
                        <v-textarea auto-grow="true" outlined hint="Écrivez votre message ici !" class="ml-6 mr-6 mt-6 contactMessage" required>


                        </v-textarea>

                    </v-flex>


                </v-layout>

                    <button type="submit">Envoyer un message</button>
</div>

            </form>


        </v-container>


    </div>
</template>

<script>
    export default {
        name: "Contact",
        data() {
            return {

                title: 'CONTACT',
                object: '',
                email: '',
                firstName: '',
                lastName: '',
                message: ''


            }
        }
    }
</script>

<style scoped>

.contactTitle {

    margin-bottom: 4rem;
}

.messageSection {

    margin-top: 2rem;
}

.contactForm {
    display: flex;
    background-size: cover;
    color: black;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    margin: 4rem 0.2rem 4rem 0.2rem;
    padding: 1em;

}

.contactForm input {

    padding: 0.5em;
    margin: 0.5em;
    border: solid 1px black;
}

.contactForm button {


    padding: 0.5em;
    color: white;
    background-color: #1976D2;
    margin-top: 1em;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.2rem;
    transition-duration: 0.4s;
}

.contactForm button:hover {

    color: #1976D2;
    background-color: white;

}

.contactForm h1 {

    letter-spacing: 0.1em;
    margin: 0.5em;
}

.contactDivider {

margin:auto;
    width: 20%;
    margin-bottom: 4rem;
background-color: #1976D2;
}

.formSection {
    padding: 2rem;
margin:auto;
    width: 80%;
    box-shadow: 0 0 2px black;
}

.contactMessage {

}
</style>