<template>
    <div class="team">
        <v-container class="my-5">
            <v-layout row wrap>

                <v-flex xs12 sm12 md6 lg6 v-for="person in team" :key="person.name">
                    <v-card tile class="ma-6 text-center">

                        <v-responsive class="pt-4">
                            <v-list-item-avatar color="grey" size="100" class="ml-6">
<v-img src="https://avatars0.githubusercontent.com/u/9064066?v=4&s=460"></v-img>
                            </v-list-item-avatar>
                        </v-responsive>


                        <v-card-text>
                            <v-subheader class="black--text justify-center"> {{person.name}}</v-subheader>
                            <div class="grey--text"> {{person.role}}</div>
                        </v-card-text>
                        <v-card-actions class="justify-center pb-6">
                            <v-btn fab depressed class="blue darken-2 white--text" x-small>
                            <v-icon small>mdi-facebook</v-icon>
                        </v-btn>

                            <v-btn fab depressed class="light-blue white--text" x-small>
                                <v-icon small>mdi-twitter</v-icon>
                            </v-btn>

                            <v-btn fab depressed class="orange white--text" x-small>
                                <v-icon xmall>mdi-soundcloud</v-icon>
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>


            </v-layout>

        </v-container>

    </div>
</template>

<script>
    export default {
        name: "Team",
        data() {

            return {

                team: [{name: 'ANH-K', role: 'Founder, Artist, DJ, Developer'},
                    {name: 'Little Jam', role: 'Artist, Art Director'}, {name: 'Justapoint', role: 'Artist'}]

            }
        }
    }
</script>

<style scoped>

    .team {
position: relative;
        margin-top: 100px;
    }

</style>